<div class="container">
    <%= render partial:"header_form"%>
    <div class="offset-md-4"></div>
</div>

<hr />
<div class="container">
    <div class="row">
        <% if @details[:day].present? %>
        <div class="col-md-8">
            <%= render partial:"calender", locals: @details %>
        </div>
        <div class="col-md-4">
            <% if @interviews.count > 0 %>
            <h1 class="text-center"> List of Interviews </h1>
            <% else %>
            <h1 class="text-center"> No Interviews </h1>
            <% end %>
            <%= render partial:"interviews", locals: {interviews: @interviews, details: @details, edit_interview: @interview} %>
        </div>

        <% else %>
        <div class="col-md-12">
            <%= render partial:"calender", locals: @details %>
        </div>
        <% end %>
    </div>
</div>


