<p id="error-message"></p>
<form id="indexform" action="/interviews" class="form-inline">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                Enter month: <input id="month" name="month" class="form-control" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                Enter year: <input id="year" name="year" class="form-control" />
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="submit">submit</button>
        </div>
    </div>
</form>